#container {
  position: absolute;
  margin: auto;
  border: 1px solid black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#container > div {
  box-sizing: border-box;
}

#container > div:hover {
  background-color: black;
}

h3 {
  position: relative;
  left: 46%;
}